# Ignore everything first
*

# Now, un-ignore the CommunityPatch directory AND everything inside it
!CommunityPatch/
!CommunityPatch/**

# Also un-ignore the .gitignore file itself!
!.gitignore
# Un-ignore .gitattributes if you use it
!.gitattributes

# --- ADD SPECIFIC IGNORES BELOW THIS LINE ---
CommunityPatch/Data/maps/**
CommunityPatch/Data/StaticMap.xml
CommunityPatch/Data/StaticGameObjects.xml
#CommunityPatch/Data/Alien/Alien.xml
#CommunityPatch/Data/BlackHand/BlackHand.xml
#CommunityPatch/Data/GDI/GDI.xml
#CommunityPatch/Data/MarkedOfKane/MarkedOfKane.xml
#CommunityPatch/Data/Nod/Nod.xml
#CommunityPatch/Data/Reaper17/Reaper17.xml
#CommunityPatch/Data/SteelTalons/SteelTalons.xml
#CommunityPatch/Data/traveler59/traveler59.xml
#CommunityPatch/Data/ZOCOM/ZOCOM.xml
CommunityPatch/Data/mapsr16/**
CommunityPatch/KanesWrathXMLFiles/**
#102texturefix/Data/Static.xml
102texturefix/Data/MPSettings.xml
CommunityPatch/[\.tmp]*
CommunityPatch/Data/test.xml
CommunityPatch/Data/test2.xml
CommunityPatch/Data/TODO.txt

CommunityPatch/.tmp.drivedownload/26449.1744834794173447
CommunityPatch/Data/test.xml
CommunityPatch/scripts/data/codex-x86_64-pc-windows-msvc.exe
CommunityPatch/R25

